@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 80vh;
}

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
  --bg-color: #3494e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.water {
  background-color: var(--bg-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

h1 {
  margin-top: 10px;
}

h3 {
  font-weight: normal;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--border-color);
  height: 260px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  text-align: center;
  transition: 0.3s ease;
  overflow: hidden;
}

.cup .remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.cup .remained span {
  font: 14px bold;
}

.cup .remained small {
  font-size: 12px;
}

.cup .percentage {
  background-color: var(--fill-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 0;
  transition: 0.3s ease;
}

.cups {
  display: flex;
  width: 190px;
  gap: 10px;
  flex-wrap: wrap;
}

.cups .cup-small {
  height: 80px;
  width: 40px;
  font-size: 12px;
  cursor: pointer;
}

.cups .cup-small.full {
  background-color: var(--fill-color);
  color: white;
}

.reset {
  background-color: var(--border-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  border: 4px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
}

.clock {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.clock {
  display: flex;
}

/* 时钟的分隔 */
.clock .divider {
  font-size: 66px;
  line-height: 102px;
  font-style: normal;
  color: rgb(51, 50, 50);
}

/* 时钟的卡片 */
.clock .flip {
  position: relative;
  width: 60px;
  height: 100px;
  margin: 2px;
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  background: rgb(46, 45, 45);
  border: 1px solid rgb(34, 33, 33);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(54, 54, 54, 0.5);
}

/* 时钟上的数字 */
.clock .flip .digital::before,
.clock .flip .digital::after {
  position: absolute;
  content: attr(data-number);
  left: 0;
  right: 0;
  color: white;
  background: rgb(51, 50, 50);
  overflow: hidden;
  perspective: 160px;
}

/* 翻页前的数字 */
.clock .flip .digital::before {
  top: 0;
  bottom: 50%;
  border-bottom: 1px solid #666;
  border-radius: 10px 10px 0 0;
}

/* 翻页后的数字 */
.clock .flip .digital::after {
  top: 50%;
  bottom: 0;
  line-height: 0;
  border-radius: 0 0 10px 10px;
}

.clock .flip .back::before,
.clock .flip .front::after {
  z-index: 1;
}

.clock .flip .back::after {
  z-index: 2;
}

.clock .flip .front::before {
  z-index: 3;
}

.clock .flip .back::after {
  transform-origin: center top;
  transform: rotateX(0.5turn);
}

.clock .flip.running .front::before {
  transform-origin: center bottom;
  -webkit-animation: frontFlipDown 0.6s ease-in-out;
  animation: frontFlipDown 0.6s ease-in-out;
  box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.clock .flip.running .back::after {
  -webkit-animation: backFlipDown 0.6s ease-in-out;
  animation: backFlipDown 0.6s ease-in-out;
}

@-webkit-keyframes frontFlipDown {
  to {
    transform: rotateX(0.5turn);
  }
}
@keyframes frontFlipDown {
  to {
    transform: rotateX(0.5turn);
  }
}
@-webkit-keyframes backFlipDown {
  to {
    transform: rotateX(0);
  }
}
@keyframes backFlipDown {
  to {
    transform: rotateX(0);
  }
}
.container {
  width: 90vw;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

h3 {
  pointer-events: none;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
.panel:nth-of-type(5) {
    display: none;
  }
}
.factory {
  display: flex;
  justify-content: center;
  height: 60vh;
}

#boards {
  -webkit-animation: 1.5s linear swing alternate infinite;
          animation: 1.5s linear swing alternate infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#string {
  -webkit-animation: 1.5s linear swing2 alternate infinite;
          animation: 1.5s linear swing2 alternate infinite;
  transform-box: fill-box;
  transform-origin: 0 10px;
}

#truck {
  -webkit-animation: 0.8s linear bounce alternate infinite;
          animation: 0.8s linear bounce alternate infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.smoke {
  -webkit-animation: 8s linear smoke infinite;
          animation: 8s linear smoke infinite;
  transform-box: fill-box;
  transform-origin: 40% bottom;
}

.smoke2 {
  -webkit-animation: 12s linear 2s smoke infinite;
          animation: 12s linear 2s smoke infinite;
}

.cloud {
  -webkit-animation: 40s linear cloud infinite;
          animation: 40s linear cloud infinite;
}

#building-smoke {
  -webkit-animation: 2s linear 1s building alternate infinite;
          animation: 2s linear 1s building alternate infinite;
}

@-webkit-keyframes swing {
  from {
    transform: rotate(-10deg) translateX(9px);
  }
  to {
    transform: rotate(10deg) translateX(-9px);
  }
}

@keyframes swing {
  from {
    transform: rotate(-10deg) translateX(9px);
  }
  to {
    transform: rotate(10deg) translateX(-9px);
  }
}
@-webkit-keyframes swing2 {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@keyframes swing2 {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes smoke {
  from {
    transform: scale(0);
    opacity: 1;
  }
  30% {
    transform: scale(0.7) translateY(-10px);
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(2) translateY(-100px);
    opacity: 0;
  }
}
@keyframes smoke {
  from {
    transform: scale(0);
    opacity: 1;
  }
  30% {
    transform: scale(0.7) translateY(-10px);
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(2) translateY(-100px);
    opacity: 0;
  }
}
@-webkit-keyframes building {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes building {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes cloud {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(800px);
  }
}
@keyframes cloud {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(800px);
  }
}
.Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

.circle {
  position: relative;
  width: 600px;
  height: 600px;
  filter: url(#wavy) blur(0.5px);
}

.circle::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1333333333));
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.circle::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
}

.circle:nth-child(2)::before {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@-webkit-keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
  }
  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  }
  100% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
  }
  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  }
  100% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-rotate(360deg);
  }
}
.circle svg {
  width: 0;
  height: 0;
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.trySlate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(192, 189, 189);
  padding: 2rem;
}
.trySlate .slateEditor {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
  background-color: #eee;
}
.trySlate .slateEditor .slateButton {
  display: flex;
  justify-content: center;
  width: 50vw;
  font-size: 18px;
  vertical-align: text-bottom;
  border-bottom: 1px solid black;
}
.trySlate .slateEditor .slateEditor {
  border: 1px black solid;
}/*# sourceMappingURL=style.css.map */