* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 80vh;
}
@import "./_cup";
@import "./_clock";
@import "./_cards";
@import "./_svg";
@import "./_circle";
@import "./_canvas";
